.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
/*   border: 2px solid red;
 */}

 /* HERO SECTION */

 .hero-h-one {
  margin-top: 1rem;
  color: var(--color-fg);
 }

 .hero-h-two {
  color: var(--color-light);
  margin-top: 0.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
 }

 .drag-container {
  position: absolute;   /* take it out of flow */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;           /* ensure it’s above header-container */
}

/* ABOUT SECTION  */

.square {
  width: 150%;
  height: 150%;
  display: flex;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}